body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat';
    background-color: var(--background-clr);
}

#sidebar {
    width: 25%;
    background-color: var(--background-clr);
    padding: 1.25rem;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #212121;
}

#content {
    width: 75%;
    padding: 1.25rem;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

/* .mainContainer {
    overflow-y: scroll;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
} */