.btn {
    font-size: 1.25rem;
    font-family: 'Montserrat';
    display: block;
    width: 100%;
    padding: .5em;
    margin-bottom: .5em;
    padding: .7em 1em .7em 1em;
    border-radius: .25em;
    border: 0;
    background-color: var(--button-clr);
    color: white;
    cursor: pointer;
    
    &:hover {
        background-color: var(--button-hover-clr);
        transform: scale(1.02);
    }
}